<head>
	<meta http-equiv="Content-Type" content="text/html; 				charset=gb2312" />
	<title> Welcome to BookDB!</title>
</head>
	
<body>
	<p>&nbsp;</p>
    <p>
        <center>
            <img src="../Media/1.jpg"mce_src="../Media/1.jpg" width="588" height="200" />
        </center>
        <center><font size = 6; color = red>
            <strong>Welcome to BookDB </font>
        </center>
    </p>
    <center><h1>欢迎使用!</h1></center> 
    <form method="post" action="/sear/">
            <p align="center">
              	<center><button> 
                	<a href="../sear/"> 查询书籍 </a>
        	</button></center>
            </p>
     </form>
    <form method="post" action="../showall/">
        <center><button>
            <a href="../showall/"> 浏览所有书籍 </a>
        </button></center>
    </form>
    <form method="post" action="../add/"> 
        <center><button>
            <a href="../add/"> 增加 </a></button>
        </center>
    </form>
</body>
</html>
