<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jmp</title> 
</head>
 
 <body>
<center><font size = 6; color = red>
            <strong>Are you OK?</font>
        </center>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p> 
<script language="JavaScript" type="text/javascript">
	function delayURL(url) {
		var delay = document.getElementById("time").innerHTML;
		if(delay > 0) {
			delay--;
			document.getElementById("time").innerHTML = delay;
		} else {
			window.top.location.href = url;
		}
		setTimeout("delayURL('" + url + "')", 1000);
	}
</script>
<center>
<span id="time" style="background: #00BFFF">5</span>秒钟后自动跳转，如果不跳转，请点击下面的链接<a href="../catlog/"> 进入 </a>
</center>
<script type="text/javascript">
delayURL("../catlog/");
</script>

</body>
</html>
