<html>
<head>
<title>search</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<style type="text/css">
	
</style>
</head>

<body>
<p>&nbsp;</p>

<p><center>
	<h1><strong>查找</strong></h1>
</center></p>
<form method="post" action="/search/">
	<p align="center">
		<strong>请输入姓名:</strong>
  		<input type="text" name="authorname" placeholder="作者姓名" class="login-field">
		<input type="submit" value="search">
	</p>
</form>

<p>&nbsp;</p>
<p>&nbsp;</p>
<form method="post" action="/catlog/">
<center><button>
	<a href = "../catlog/"> 回到主页 </a>
</button></center>
</form>
</body>
</html>